.main {
    display: flex;
    flex-direction: column;
}

.cover {
    position: relative;
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
}
.cover img {
    width: 100%;
    height: 20rem;
    border-radius: 0.5rem;
}

.edit-cover-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    background-color: #FF7518;
    border: 1px solid white;
    
    
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile-img {
    position: relative;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: yellow;
}

.profile-img img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: yellow;
}

.edit-profile-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    color: white;
    background-color: #FF7518;
    border: none;
    border-radius: 0.5rem;
    
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

div button {
    color: white;
    background-color: #FF7518;
    border: none;
    border-radius: 0.5rem;
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    cursor: pointer;
    width: 100px;
    height: 20px;
    margin-top: 100px;
    display: flex;
}

.profile-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.profile-details {
    line-height: 0.1rem;
}

.profile-desc {
    line-height: 0.7rem;
}

.club-details {
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.club-section {
    font-weight: bold;
    font-size: 1.5rem;
}

.club {
    display: flex;
    height: 7rem;
    width: 65%;
    margin-top: 0.9rem;
    background-color: white;
    align-items: center;
    box-shadow: 0rem 0.25rem 0.1rem 0.1rem rgba(53, 53, 56, 0.2);
}

.club-profile {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 0.5rem;
}

.club-profile img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: yellow;
}

.club-text {
    margin-left: 2rem;
}

.club-heading {
    font-size: 1.2rem;
    font-weight: 600;
}
